# Dependencies
node_modules/
backend/node_modules/

# Build outputs
dist/
backend/dist/
web-build/

# Expo
.expo/

# Environment variables
.env
backend/.env

# Logs
npm-debug.*
*.log
logs/

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Coverage directory used by tools like istanbul
coverage/
*.lcov

# nyc test coverage
.nyc_output

# Certificates & Keys
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*

# IDE
.cursor
.vscode/
.idea/




ios
android

# macOS
.DS_Store

# Temporary files created by Metro to check the health of the file watcher
.metro-health-check*